.hero{
    margin: 0px 65px;
    margin-top: 50px;
}
.hero-text{
    color: #fff;
    font-size: 80px;
    font-weight: 500;
    line-height: 130px;
}
.hero-explore{
    display: flex;
    gap: 50px;
    align-items: center;
    width: fit-content;
    margin-top: 0px;
    padding: 5px 8px;
    padding-left: 30px;
    cursor: pointer;
    border-radius: 60px;
    background-color: white;
}
.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    display: flex;
    justify-content: space-between;
    /* margin-top: 100px; */
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 7.5px;
    cursor: pointer;
}
.hero-dot.orange{
    background: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-play p{
    font-size: 20px;
    color: #fff;
}
@media (max-width: 992px){
    .hero{
        margin: 30px 10px;
    }
    .hero-text p{
        font-size: 60px;
        line-height: 90px;
    }
}
@media (max-width: 400px){
    .hero-explore p{
        font-size:19px;
    }
    .hero-explore img{
        width: 20%;
    }
}
@media (max-width: 380px){
    .hero-play img{
        width: 25%;
    }
    .hero-play p{
        font-size: 15px;
    }
}